<%= form_with(model: permission) do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
        <% permission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :user_name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.collection_select :room_id, Room.all, :id, :room_name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :valid_from %>
    <%= form.date_select :valid_from %>
  </div>

  <div class="field">
    <%= form.label :valid_to %>
    <%= form.date_select :valid_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
